# .gitignore
__pycache__/
*.pyc
datalake_demo/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.env
.venv/
ENV/
env/

# Environment variables
.env

# Databricks
.databricks

# VS Code
.vscode/